<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="73bf4a68-5c95-426e-820e-120531810940" name="Swagger Petstore Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Swagger Petstore]</con:description>
  <con:settings>
    <con:setting id="73bf4a68-5c95-426e-820e-120531810940fileName">Swagger-Petstore-Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="b8f8a0ab-2a84-4d9b-847d-e9cac325e8e6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="c436dfdd-5f12-4b1b-9481-728f2f15399a">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
